{% extends 'base.html' %} {% load static %} {% block content %}
<main class="container my-4">
  <h3 class="my-4 border-bottom pb-1">Change Password</h3>
  {% if validlink %}
  <table class="table table-bordered">
    <form method="post">
      {% csrf_token %} {{form.as_table}}
      <tr>
        <td colspan="2">
          <input type="submit" value="Change Password" class="btn btn-primary" />
        </td>
      </tr>
    </form>
  </table>
  {% else %}
  <h1>The Link that you are trying to access is expired! Please goto <a href="{% url 'password_reset' %}">Password Reset</a>
  to reset your password.</h1>
  {% endif %}
</main>
{% endblock %}